* {
  font-family: 'Poppins', sans-serif;
}

header::before {
  background: url("./pics/grey.png") no-repeat  0, 0 #f7f7f7;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  position: absolute;
  opacity: 0.7;
}

/* header */
.hamburger_button {
  border: none;
  background: transparent;
  position: relative;
}

img[src*="menu.png"] {
  width: 60%;
  height: 70%;
  margin-bottom: 80%;
}

.hello {
  position: relative;
  color: #f35826;
  font-size: 200%;
  margin-bottom: 0%;
  padding-left: 3%;
}

.heading {
  position: relative;
  color: #f35826;
  font-size: 400%;
  margin-top: 0%;
  font-weight: bold;
  padding-left: 3%;
  background-blend-mode: multiply;
}

/* intro section */
.intro {
  position: relative;
  background-color: #f7f7f7;
  border: 5px #fff solid;
  margin-left: 5%;
  font-size: 110%;
  margin-right: 15%;
}

.due_date {
  position: relative;
  font-weight: bold;
  color: #585858;
  font-size: 200%;
  padding-left: 3%;
  margin-bottom: 0%;
  margin-top: 5%;
}

.venue {
  position: relative;
  color: #585858;
  padding-left: 3%;
  font-weight: 600;
  margin-bottom: 5%;
}

/* program section */
.program::before {
  background: url("./pics/x.png") 0, 0 #0a0a0a;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  opacity: 0.75;
}

.program {
  position: relative;
}

.main_program {
  position: relative;
  color: #fff;
  padding-top: 10%;
  padding-bottom: 2%;
  text-align: center;
}

.main_program::after {
  content: '';
  height: 2px;
  width: 10%;
  background: #f35826;
  position: absolute;
  bottom: 0;
  left: 45%;
}

.activities {
  padding-top: 5%;
  list-style-type: none;
  font-size: 90%;
  padding-right: 2%;
  padding-left: 2%;
}

.activity {
  display: flex;
  color: #fff;
  border: none;
  background-color: #3c3f46;
  margin: 2%;
  margin-left: 2%;
}

.img_activity {
  position: relative;
  padding: 3%;
  width: 50px;
  height: 50px;
  margin-top: 3%;
}

.description {
  position: relative;
  display: flex;
  align-items: center;
  color: #f35826;
  font-weight: bold;
  padding-right: 5%;
}

.explanation {
  position: relative;
  font-size: 92%;
}

.center_button {
  position: relative;
  display: flex;
  justify-content: center;
}

.join {
  padding: 4%;
  background-color: #f35826;
  border: none;
  color: #fff;
  font-size: 140%;
  margin: 5%;
  margin-bottom: 10%;
}

.join:hover {
  cursor: pointer;
}

.join:hover:hover {
  background-color: #fff;
  color: #f35826;
}

.join:hover:active {
  background-color: #2230d2;
  color: #fff;
}

/* guest section */
.featured_guests {
  text-align: center;
  position: relative;
  padding-bottom: 2%;
}

.featured_guests::after {
  content: '';
  height: 2px;
  width: 10%;
  background: #f35826;
  position: absolute;
  bottom: 0;
  left: 45%;
}

.guests {
  list-style-type: none;
  margin-top: 5%;
}

.guests li {
  display: flex;
}

.guest_img_div {
  margin-top: 4%;
}

.guest_img {
  width: 100px;
  height: 100px;
}

.guest_paragraphs {
  padding-left: 3%;
}

.name {
  font-weight: bold;
}

.work {
  color: #f35826;
  font-style: italic;
}

.work_description {
  font-size: 95%;
}

/* desktop version */
@media (min-width: 481px) and (min-width: 768px) {
  .hamburger_button {
    display: none;
  }

  header::before {
    top: 11.5%;
  }

  .warzone_head_logo {
    width: 100px;
  }

  .navbar {
    position: relative;
    display: flex;
    justify-content: space-around;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
  }

  #about_link {
    color: #f35826;
  }

  .navigation a {
    padding-right: 10%;
    text-decoration: none;
    color: #000;
  }

  .wz_btn {
    color: #f35826;
    border: #f35826 5px solid;
    margin-bottom: 5%;
  }

  .wz_btn:hover {
    cursor: pointer;
    color: white;
    background: #f35826;
  }

  .heading {
    margin-right: 50%;
  }

  /* begin_section */
  .intro {
    margin-right: 50%;
  }

  .due_date {
    margin-bottom: 0%;
  }

  /* program section */

  .activities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-right: 10%;
    margin-left: 15%;
  }

  .activities li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .activity {
    color: #fff;
    border: none;
    background-color: #3c3f46;
    margin-left: -0.5%;
  }

  .img_activity {
    padding: 3%;
    width: 50px;
    height: 50px;
  }

  .description {
    text-align: center;
    color: #f35826;
    font-weight: bold;
    padding-right: 5%;
  }

  .explanation {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  .center_button {
    display: none;
  }

  .position_url {
    text-align: center;
    padding: 10%;
  }

  .whole_program {
    position: relative;
    color: #fff;
  }

  /* guests section */
  .guests {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
    grid-gap: 3%;
  }

  /* partner section */
  .partner_section {
    background: #414246;
    margin-top: 10%;
  }

  .partner {
    color: #fff;
    text-align: center;
    font-weight: 500;
  }

  .img_split {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
  }

  .partner_img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 768px) and (max-width: 1100px) {
  .navbar {
    display: none;
  }

  .whole_program {
    display: none;
  }

  .partner_section {
    display: none;
  }
}
/*mobile menu button*/

.blur {
  position: fixed;
  filter: blur(8px);
}
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f35826;
    mix-blend-mode: multiply;
    transition: 200ms ease-in-out;
    transform: scale(0);
    z-index: 10;
  }

  .mobile-menu.active {
    transform: scale(1);
  }

  .mobile-menu-header {
    display: flex;
    justify-content: flex-end;
    
  }

  .mobile-menu nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
  }

  .mobile-menu a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    padding: 4%;
  }

  .close-button {
    border: none;
    cursor: pointer;
    outline: none;
    color: #fff;
    background: none;
    font-size: 400%;
    font-weight: 100;
  }
